[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
django-extensions = "*"
psycopg2-binary = "*"
django-on-heroku = "*"
gunicorn = "*"
djoser = "*"
djangorestframework = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
